
body {
    /* feel free to update these css variables for a quick theme */
    
    --color1: white;
    --color2: black;
    --color3: white;
    --color4: black;
    --color5: black;
    
    /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
        
    /* --color1: hsla(349, 69%, 76%, 1);
    --color2: hsla(207, 67%, 44%, 1);
    --color3: hsla(200, 61%, 56%, 1);
    --color4: hsla(187, 41%, 94%, 1);
    --color5: hsla(170, 28%, 95%, 1); */

    /* --color1: hsla(45, 86%, 83%, 1);
    --color2: hsla(135, 65%, 98%, 1);
    --color3: hsla(315, 37%, 86%, 1);
    --color4: hsla(45, 73%, 98%, 1);
    --color5: hsla(224, 40%, 79%, 1); */
    
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    font-family: 'Titillium Web', sans-serif;
    background-color: var(--color2);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
}

section {
    background-color: var(--color5);
    max-width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 2px var(--color1);
    color: white;
    padding: 10px;
}

#guesses-section {
    flex-direction: column;
    margin-left: 10em;
}

#cups-section {
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
}

.cup-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: grey;
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

header img {
    height: var(--header-height);
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}

label {
    margin-right: 5px;
}

input {
    width: 60px;
}

button {
    border: .4rem solid white;
    border-radius: .25rem;
    margin: 1rem;
    padding: 1rem;
    width: 75%;
    height: 100%;
    text-align: center;
    line-height: 3vh;
    color: white;
    background: black;
  }

.button-hover {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
  }

  #betSection {
      flex-direction: column;
  }

  .loseText {
      background-color: red;
  }

  .winText {
    background-color: green;
}